body{
	overflow: scroll;
	color:black;

}

/** HEADER Style **/

#header-nav{
	background-color: grey;
}
.navbar-brand p {
	color: black;
}
#navlist{
	background-color:white;
	text-align: center;
	font-size: 1.2em;
	border:1px solid black;
}
.navbar-nav{
	margin-top: 0px;
	margin-bottom: 0px;
}
li{
	border: 1px solid black;
}

/** Main Body **/
.inner{
	background-color: grey;
	
}
#collapsible-nav{
	border-top: 0px;
}
.page-header{
	border-bottom: 0;
}